/* HAPUS GAYA BAWAAN LEAFLET TOOLTIP */
.custom-vessel-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}
/* Sembunyikan segitiga/panah kecil bawaan Leaflet */
.custom-vessel-tooltip::before,
.custom-vessel-tooltip::after {
  display: none !important;
}

/* 1. EFEK MELUNCUR (GLIDE) UNTUK ANIMASI KAPAL */
.moving-vessel-anim {
  /* Transisi ini membuat kapal meluncur mulus saat koordinatnya diubah */
  transition: transform 1s linear !important;
}

/* 2. STYLING RANGE SLIDER MODERN (TIMELINE) */
input[type="range"].modern-slider {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type="range"].modern-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: rgba(148, 163, 184, 0.3); /* slate-400 dengan opacity */
  border-radius: 99px;
}
input[type="range"].modern-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #06b6d4; /* cyan-500 */
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.6);
  margin-top: -5px;
  cursor: pointer;
  transition: transform 0.1s;
}
input[type="range"].modern-slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}