<!-- HEROICONS -->
<script src="https://unpkg.com/heroicons@2.0.18/24/outline/index.js"></script>

<div
  id="navbar"
  class="group fixed top-0 left-0 h-full w-16 bg-slate-900 border-r border-slate-700 z-40 hover:w-56 transition-all duration-300 overflow-visible"
>
  <ul class="flex flex-col gap-2 p-2">
    <!-- LOGO -->
    <li>
      <a href="index.html" class="flex items-center gap-3 p-2">
        <img src="assets/images/shiptracking.png" class="w-8 h-8" />
        <span class="text-white text-sm font-semibold hidden group-hover:block">
          Ship Tracking
        </span>
      </a>
    </li>

    <!-- FILTER -->
    <li class="relative">
      <button
        id="filter-btn"
        class="w-full flex items-center gap-3 p-2 rounded hover:bg-slate-800 text-white transition"
      >
        <img src="assets/images/filter kapal.png" class="w-6 h-6" />  
        <span class="hidden group-hover:block">Filters</span>
      </button>

      <!-- DROPDOWN -->
      <div
        id="dropdown-filter"
        class="hidden absolute left-full top-0 ml-4 w-72 bg-slate-900 text-white p-5 rounded-xl shadow-2xl border border-slate-700 z-50 space-y-4"
      >
        <h3 class="text-sm font-semibold text-cyan-400 mb-2">Filter Vessels</h3>

        <div class="space-y-3">
          <div>
            <label class="text-xs text-slate-400">Jenis Kapal</label>
            <select
              id="shipType"
              class="w-full mt-1 p-2 rounded-md bg-slate-800 text-sm focus:outline-none focus:ring-2 focus:ring-cyan-500"
            >
              <option value="">Semua</option>
              <option value="Cargo Ship">Kargo</option>
              <option value="Tanker">Tanker</option>
              <option value="Passenger Ship">Penumpang</option>
              <option value="Fishing Vessel">Ikan</option>
            </select>
          </div>

          <div>
            <label class="text-xs text-slate-400">Pemilik</label>
            <select
              id="shipOwner"
              class="w-full mt-1 p-2 rounded-md bg-slate-800 text-sm focus:ring-2 focus:ring-cyan-500"
            >
              <option value="">Semua</option>
              <option value="Ship">Kapal</option>
              <option value="Coastal Station">Stasiun</option>
            </select>
          </div>

          <div>
            <label class="text-xs text-slate-400">Speed</label>
            <input
              id="shipSpeed"
              type="number"
              class="w-full mt-1 p-2 rounded-md bg-slate-800 text-sm focus:ring-2 focus:ring-cyan-500"
            />
          </div>

          <div>
            <label class="text-xs text-slate-400">Status</label>
            <select
              id="shipStatus"
              class="w-full mt-1 p-2 rounded-md bg-slate-800 text-sm focus:ring-2 focus:ring-cyan-500"
            >
              <option value="">Semua</option>
              <option value="Berlayar">Berlayar</option>
              <option value="Berlabuh">Berlabuh</option>
            </select>
          </div>

          <div>
            <label class="text-xs text-slate-400">Negara</label>
            <input
              id="shipCountry"
              class="w-full mt-1 p-2 rounded-md bg-slate-800 text-sm focus:ring-2 focus:ring-cyan-500"
            />
          </div>
        </div>

        <button
          id="apply-filter-btn"
          class="w-full mt-2 bg-pink-500 hover:bg-pink-600 py-2 rounded-md text-sm font-semibold transition"
        >
          Cari
        </button>
      </div>
    </li>

    <!-- WEATHER -->
    <li class="relative">
      <button
        id="weather-btn"
        class="w-full flex items-center gap-3 p-2 rounded hover:bg-slate-800 text-white transition"
      >
        <img src="assets/images/cuaca.png" class="w-6 h-6" />
        <span class="hidden group-hover:block">Weather</span>
      </button>

      <div
        id="weather-legends"
        class="hidden absolute left-full top-0 ml-4 w-64 bg-slate-900 text-white p-5 rounded-xl shadow-2xl border border-slate-700 space-y-3"
      >
        <h3 class="text-sm font-semibold text-cyan-400">Weather Layer</h3>
        <div clas="space-y-3">
          <label class="flex items-center gap-2 text-sm">
            <input type="radio" name="weatherLayer" value="none" checked />
            None
          </label>

          <label class="flex items-center gap-2 text-sm">
            <input type="radio" name="weatherLayer" value="wind" />
            Wind
          </label>

          <label class="flex items-center gap-2 text-sm">
            <input type="radio" name="weatherLayer" value="temperature" />
            Temperature
          </label>

          <label class="flex items-center gap-2 text-sm">
            <input type="radio" name="weatherLayer" value="rain" />
            Rain
          </label>
        </div>
      </div>
    </li>

    <!-- MEASURE -->
    <li>
      <button
        id="distance-btn"
        class="w-full flex items-center gap-3 p-2 rounded-lg hover:bg-slate-800 text-white"
      >
        <img src="assets/images/ukur.png" class="w-6 h-6" />
        <span class="hidden group-hover:block">Measure</span>
      </button>
    </li>

    <!-- DASHBOARD -->
    <li>
      <a
        href="dashboard.html"
        class="flex items-center gap-3 p-2 rounded-lg hover:bg-slate-800 text-white"
      >
        <img src="assets/images/stats.png" class="w-6 h-6" />
        <span class="hidden group-hover:block">Stats</span>
      </a>
    </li>
  </ul>
</div>
